* {

    margin: 0;
    padding: 0;

}

body {

    background-color: #1c1c1c;

}



/* HEADER - INICIO */

.navbar-collapse {

    display: grid;
    justify-content: center;

}


/* HEADER - FIN */


/* CARDS - INICIO */

.contenedor-cards {


    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    margin-top: 100px;
    
}


.cards {

    width: 82%;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #9bf671;
    padding-bottom: 40px;
    

}

.margen-sep {

    margin-top: 270px;

}


.cards-resultado {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    font-size: 25px;


}

.cards-imagenes {
 
   
    height: 100px;
    width: 100px;
    margin: 10px;

}

/* CARDS - FIN */

.contenedor-pos {

    background-color: white;
    position: sticky;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 5px;
    box-shadow: 2px 2px 10px blue, -2px -2px 10px blue;


}

.pos {

    display: grid;
    justify-items: center;
    align-content: start;
    grid-template-columns: repeat(9,1fr);

}


@media screen and (max-width: 992px) {
    
    .contenedor-cards {

        grid-template-columns: 1fr;
        margin-top: 0px;
    }

    .margen-sep {

        margin-top: 0px;
    
    }

    .cards {

        margin-top: 90px;
        width: 95%;
    }

    .cards-resultado {

      
        font-size: 18px;


    }
    

}


@media screen and (max-width: 556px) {
    

    .contenedor-pos {

        width: 300px;

    }
   
    

}